body {

background:
radial-gradient(circle at top,#1a1a1a,#050505 60%);

font-family:
"Segoe UI",
Arial,
sans-serif;

color:white;
margin:0;

}


.terminal {

max-width:900px;
margin:auto;
padding:25px;

}


/* HEADER */

header {

background:
linear-gradient(145deg,#111,#050505);

border:1px solid #2c2c2c;

padding:25px;

border-radius:18px;

box-shadow:
0 0 30px rgba(212,175,55,0.15);

}


h1 {

color:#d4af37;

letter-spacing:2px;

}


header p {

color:#888;

}



/* LIVE LIGHT */

.live {

display:inline-block;

color:#00ff88;

font-weight:bold;

background:#071b12;

padding:8px 15px;

border-radius:20px;

border:1px solid #00ff88;

}



/* CARDS */

.box,
.price-card {

background:

linear-gradient(
145deg,
rgba(255,255,255,0.08),
rgba(255,255,255,0.02)
);

backdrop-filter:blur(15px);

border:

1px solid rgba(212,175,55,0.25);


border-radius:20px;

padding:25px;

margin-top:20px;


box-shadow:

0 20px 40px rgba(0,0,0,.6);

}



/* SECTION TITLES */

h2 {

font-size:15px;

letter-spacing:2px;

color:#d4af37;

text-transform:uppercase;

}



/* GOLD PRICE */

#goldPrice {

font-size:55px;

font-weight:800;

color:white;

text-shadow:

0 0 20px rgba(212,175,55,.7);

}



/* BUY SIGNAL */


.buy {

font-size:42px;

font-weight:900;

color:#00ff88;


text-shadow:

0 0 20px #00ff88;

}



/* GOLD SCORE */

.gold {

font-size:55px;

color:#d4af37;


}



/* NEWS */

#news p {

background:#0b0b0b;

padding:15px;

border-left:

4px solid #d4af37;

border-radius:8px;

}



/* DATA ROWS */


p {

font-size:16px;

color:#ddd;

}


/* MOBILE */

@media(max-width:600px){

.terminal{

padding:12px;

}


#goldPrice{

font-size:40px;

}


.buy{

font-size:30px;

}

}
.top-grid{
display:flex;
gap:20px;
}

.top-grid .box{
flex:1;
}


@media(max-width:700px){

.top-grid{
display:block;
}

}
