body {

background:
linear-gradient(135deg,#020202,#0b0b0b);

font-family:
"Inter",
"Segoe UI",
Arial;

color:white;
margin:0;

}


.terminal{

max-width:1100px;
margin:auto;
padding:25px;

}



/* HEADER */

header{

background:
rgba(20,20,20,0.8);

border:

1px solid rgba(212,175,55,.25);

border-radius:20px;

padding:25px;

backdrop-filter:blur(20px);

box-shadow:

0 0 40px rgba(212,175,55,.15);

}


h1{

color:#d4af37;

font-size:28px;

letter-spacing:3px;

}



.live{

display:inline-block;

background:#052d18;

color:#00ff88;

padding:8px 18px;

border-radius:30px;

border:1px solid #00ff88;

font-weight:bold;

}



/* GRID */

.top-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}



/* ALL CARDS */

.box,
.price-card{


background:

linear-gradient(
145deg,
rgba(255,255,255,.08),
rgba(255,255,255,.02)
);


border:

1px solid rgba(255,255,255,.12);


border-radius:22px;


padding:25px;


margin-top:20px;


backdrop-filter:

blur(15px);


box-shadow:

0 25px 50px rgba(0,0,0,.6);

transition:.3s;

}


.box:hover{

transform:translateY(-5px);

border-color:#d4af37;

}



/* TITLES */


h2{

font-size:14px;

letter-spacing:2px;

color:#bfa34a;

text-transform:uppercase;

}



/* BUY SIGNAL */


.buy{

font-size:45px;

font-weight:900;

color:#00ff88;

text-shadow:

0 0 25px #00ff88;

}



/* GOLD PRICE */

#goldPrice{

font-size:60px;

font-weight:900;

color:white;

}



/* NEWS */

#news p{

background:#090909;

padding:14px;

border-radius:12px;

border-left:

3px solid #d4af37;

}



/* AI SCORE */


.gold{

font-size:55px;

color:#d4af37;

}



/* MOBILE */

@media(max-width:700px){

.top-grid{

grid-template-columns:1fr;

}


.terminal{

padding:12px;

}


.buy{

font-size:32px;

}

}
.ticker{

display:flex;

gap:15px;

overflow:hidden;

margin-top:20px;

background:

linear-gradient(
90deg,
#111,
#050505
);

border:

1px solid rgba(212,175,55,.3);

padding:15px;

border-radius:15px;

font-weight:bold;

}


.ticker div{

background:#0b0b0b;

padding:12px 20px;

border-radius:10px;

min-width:120px;

color:#aaa;

}


.up{

color:#00ff88;

}


.down{

color:#ff5555;

}



@media(max-width:700px){

.ticker{

overflow-x:auto;

}

}
